@using X.PagedList
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "AllMovies";
}
@model IEnumerable<FMCApp.Web.Models.ViewModels.VisualizationModels.Movies.MoviesViewModel>
<div id="gallery" class="tm-content-box">
    <div class="grid tm-gallery">   
        @foreach(var movie in @Model)
        { 
            <figure class="effect-bubba">
                <img src="@movie.MoviePosterUrl" alt="Image 8" class="img-fluid" />
                <figcaption>
                    <h4><span>@movie.Title</span></h4>
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"></a>
                </figcaption>
            </figure>
        }
    </div>
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("AllMovies", new { pageNumber }),new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        DisplayLinkToFirstPage = 0,
        DisplayLinkToLastPage = 0,
     
        
    })

</div>