<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/templatemo-style.css" rel="stylesheet" />
    @*<link href="~/css/font-awesome.min.css" rel="stylesheet" />*@
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    @*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@

    @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
    @*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
</head>
<body style="background-color:#d4d4d4">
<div class="container-fluid">

    <div id="welcome" class="tm-content-box tm-banner margin-b-10">
        <div class="tm-banner-inner">
            <h1 class="tm-banner-title">FAVOURITE MOVIES COLLECTION</h1>
        </div>
    </div>
    <div class="tm-body">
        <div class="tm-sidebar">
            <nav class="tm-main-nav">
                <ul class="tm-main-nav-ul">
                    @if (!User.Identity.IsAuthenticated)
                    {

                        <li class="tm-nav-item">
                            <a class="tm-nav-item-link tm-button" asp-controller="Users" asp-action="Login">Login</a>
                        </li>

                        <li class="tm-nav-item">
                            <a class="tm-nav-item-link tm-button" asp-controller="Users" asp-action="Register">Register</a>
                        </li>
                    }
                    else
                    {
                        <li class="tm-nav-item">
                            <a class="tm-nav-item-link tm-button" asp-controller="Users" asp-action="Logout">Logout</a>
                        </li>
                        <li class="tm-nav-item">
                            <a class="tm-nav-item-link tm-button" asp-controller="Chats" asp-action="OpenChat">Open Chat</a>
                        </li>
                        <li class="tm-nav-item">
                            <a class="tm-nav-item-link tm-button" asp-controller="Users" asp-action="Watchlist">Your Watchlist</a>
                        </li>
                    }
                    <li class="tm-nav-item">
                        <a class="tm-nav-item-link tm-button" asp-controller="News" asp-action="AllNews">Movie News</a>
                    </li>
                    <li class="tm-nav-item">
                        <a class="tm-nav-item-link tm-button" asp-controller="Movies" asp-action="AllMovies">Movies</a>
                    </li>
                    <li class="tm-nav-item">
                        <a asp-controller="Home" asp-action="Index" class="tm-nav-item-link tm-button">
                            Welcome
                        </a>
                    </li>

                </ul>
            </nav>
            <div>
                <form asp-controller="Movies" asp-action="AllMovies" method="get">
                    <p>
                        Title: <input type="text" name="SearchString">
                        <input type="submit" value="Search" />
                    </p>
                </form>
            </div>
          
        </div>
        @RenderBody()
    </div>
</div>
<hr />
<footer>
    <p>&copy; 2018 - FMCApp.Web</p>
</footer>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/@@aspnet/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/site.js" asp asp-append-version="true"></script>
@*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
@RenderSection("Scripts", required: false)
</body>
</html>





