@model FMCApp.Web.Models.ViewModels.InputModels.RegisterInputModel
@{
    ViewData["Title"] = "Register";
}

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>FMC Register</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<link href="~/css/text.css" rel="stylesheet" />
<body>
<div class="signup-form">
    <form asp-controller="Users" asp-action="Register" method="post">
		<h2>Register</h2>
        <div class="form-group">
            <label asp-for="Username" class="text-center"></label>
            <input asp-for="Username" class="form-control" placeholder="Username"/>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="text-center"></label>
            <input asp-for="Email" class="form-control" placeholder="Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
		<div class="form-group">
		    <label asp-for="Password" class="text-center"></label>
		    <input asp-for="Password" class="form-control" placeholder="Password" />
		    <span asp-validation-for="Password" class="text-danger"></span>        
		    </div>
		<div class="form-group">
		    <div class="form-group">
		        <label asp-for="ConfirmPassword" class="text-center"></label>
		        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
		        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		    </div>        
		</div>        
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a asp-controller="Users" asp-action="Login">Sign in</a></div>
</div>
</body>